$linkActiveColor: #ffffffc9;
$linkInactiveColor: #ffffff;
$grey: rgb(113, 118, 123);
$iconsColor: rgb(231, 233, 234);
$borderColor: rgb(47, 51, 54);
$backgroundColorPostBtn: rgb(239, 243, 244);
$blue: rgb(29, 155, 240);
$dark: #0a0a0a;
$borderColorSignIn: rgb(83, 100, 113);
