@use "../../styles/abstracts/layouts" as *;
@use "../../styles/abstracts/colors" as *;

.logo {
  margin-right: 4px;
  border-radius: 50%;
}
.authContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  height: 100%;
  min-width: 420px;

  .title {
    margin-bottom: 48px;
    margin-top: 48px;
    font-weight: 700;
    font-size: 64px;
    color: $iconsColor;
  }
  .subtitle {
    color: $iconsColor;
    margin-bottom: 32px;
    line-height: 36px;
    font-weight: 700;
    font-size: 31px;
  }
  .logo {
    margin-right: 4px;
    border-radius: 50%;
  }

  .buttonAuthSignUp {
    background-color: $blue;

    .textAuthSignUp {
      color: white;
    }
  }
  .buttonAuthSignIn {
    background-color: $dark;
    border-color: $borderColorSignIn;
    border-width: 1px;
    .textAuthSignIn {
      color: $blue;
    }
  }
}
.contentContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  .textAuthAndAvatarContainer {
    display: flex;
    align-items: center;
  }
  .textAuthContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    .email {
      font-size: 12px;
      text-align: left;
      font-weight: 400;
    }
    .nameUser {
      font-size: 12px;
      text-align: left;
      font-weight: 700;
    }
  }
}
